.rpd_form
	%fieldset
		%legend Введите личные данные	
		= form_for(:session, :url => sessions_path) do |f|

			.text
				.field
					= f.label :email, "Электронная почта"
					= f.text_field :email
				.field
					= f.label :password, "Пароль"
					= f.password_field :password
			.submit
				= f.submit "Войти"
		-#Не зарегистрированы?
		-#= link_to "Зарегистрируйтесь!", signup_path