= link_to "Создать тематический раздел", "#"
%p
%table
	%tr
		%th Тематический раздел
		%th
		%th
		%th
	- @themes.each do |theme|
		%tr
			%td= truncate(theme.title, :length=>70)
			%td= link_to "Показать", "#" #post_path(post)
			%td= link_to "Редактировать", "#" #edit_post_path(post)
			%td= link_to "Удалить", "#" #post, :confirm => 'Вы уверены?', :method => :delete