Регистрация необходима для связи организаторов с вами, а также для личного входа на сайт
%p
  = form_for(@user) do |f|
    .field
      = f.label :email, "Электронная почта"
      %br
      = f.text_field :email
    .field
      = f.label :password, "Пароль"
      %br
      = f.password_field :password
    .field
      = f.label :password_confirmation, "Подтверждение пароля"
      %br
      = f.password_field :password_confirmation
    .actions
      = f.submit "Зарегистрироваться"