%p
  Регистрация на сайте является необходимым условием участия в симпозиуме. Далее Вы сможете оставить заявку на участие, отправить тезисы

.rpd_form
  %fieldset
    %legend Заполните поля
    = form_for(@user) do |f|
      .field
        = f.label :email, "Электронная почта"
        %p
        = f.text_field :email
      .field
        = f.label :password, "Пароль"
        %p
        = f.password_field :password
      .field
        = f.label :password_confirmation, "Подтверждение пароля"
        %p
        = f.password_field :password_confirmation
      .submit
        = f.submit "Зарегистрироваться"