%p
  Регистрация на сайте является необходимым условием участия в Симпозиуме. Далее вы сможете оставить заявку на участие и отправить доклады в электронном виде.
.rpd_form
  %fieldset
    %legend Заполните поля
    -if @user.errors.any?
      %fieldset
        #error_explanation
          %h4
            = Russian.p(@user.errors.count, "Обнаружена", "Обнаружены", "Обнаружено")
            = @user.errors.count
            = Russian.p(@user.errors.count, "ошибка", "ошибки", "ошибок")
            = ":"
          - @user.errors.full_messages.each do |msg|
            %li= msg
    = form_for(@user) do |f|
      Звездочкой (*) помечены поля, необходимые к заполнению
      .text
        .field
          = f.label :email, "Электронная почта" + mark_required(@user, :email)
          %p
          = f.text_field :email, :placeholder => "sample@sample.com"
        .field
          = f.label :password, "Пароль (не менее 6 символов)" + mark_required(@user, :password)
          %p
          = f.password_field :password, :placeholder => "Пароль может содержать любые символы"
        .field
          = f.label :password_confirmation, "Подтверждение пароля" + mark_required(@user, :password)
          %p
          = f.password_field :password_confirmation, :placeholder => "Повторите введенный выше пароль"
        .submit
          = f.submit "Зарегистрироваться"