%p
  Регистрация на сайте является необходимым условием участия в Симпозиуме. Далее вы сможете оставить заявку на участие, отправить доклады в электронном виде.

.rpd_form
  %fieldset
    %legend Заполните поля
    -if @user.errors.any?
      %fieldset
        #error_explanation
          %h4
            = Russian.p(@user.errors.count, "Обнаружена", "Обнаружены", "Обнаружено")
            = @user.errors.count
            = Russian.p(@user.errors.count, "ошибка", "ошибки", "ошибок")
            = ":"
          - @user.errors.full_messages.each do |msg|
            %li= msg
    = form_for(@user) do |f|
      .text
        .field
          = f.label :email, "Электронная почта"
          %p
          = f.text_field :email
        .field
          = f.label :password, "Пароль"
          %p
          = f.password_field :password
        .field
          = f.label :password_confirmation, "Подтверждение пароля"
          %p
          = f.password_field :password_confirmation
        .submit
          = f.submit "Зарегистрироваться"