%fieldset
	= form_for @speech, :action => "update" do |f|
		%p
			%b
				= f.label :thesis, t(:attach_file)
				= ":"
			= f.file_field :thesis
			%br= f.submit current_user.admin? ? "Подтвердить" : t(:send)