= form_for @speech do |f|
	.text
		= f.label :title, "Название доклада"
		%p= f.text_field :title
		
		%p= f.label :organization, "Название организации"
		%p= f.text_field :organization
		
		%p= f.label :author_name, "ФИО автора (коллектива авторов)"
		%p= f.text_field :author_name
		
		%p= f.label :phone, "Контактный телефон"
		%p= f.text_field :phone

		%p= f.label :thesis, "Прикрепите доклад"
		%p= f.file_field :thesis
	.nested_rpd_form
		%fieldset
			%legend 
				%b Выберите тематический раздел:
			%table
				-@themes.each do |t|	
					%tr
						%td{:class => "label"}= f.label :theme_id, t.title
						%td= f.radio_button :theme_id, t.id			
	- if current_user.admin?	
		.text
			%p= f.label :email, "Контактный e-mail"
			%p= f.text_field :email
	.check_box
		= f.label :delivery_subscription, current_user.admin? ? "Подписка на рассылку новостей" : "Хотите ли вы подписаться на рассылку новостей?"
		= f.check_box :delivery_subscription
	.submit	
		= f.submit current_user.admin? ? "Подтвердить" : "Отправить"