= form_for @speech do |f|
	= f.label :title, "Название доклада"
	%p
		= f.text_field :title
	%p
		= f.label :organization, "Название организации"
	%p	
		= f.text_field :organization
	%p
		= f.label :author_name, "ФИО авторов"
	%p	
		= f.text_field :author_name
	%p
		= f.label :phone, "Контактный телефон"
	%p	
		= f.text_field :phone
	- if current_user.admin?	
		%p= f.label :email, "Контактный e-mail"
		%p= f.text_field :email
	%p
		= f.label :delivery_subscription, "Подписка на рассылку новостей"
	%p	
		= f.check_box :delivery_subscription
	= f.submit "Подтвердить"