-if @speech.errors.any?
	%fieldset
		#error_explanation
			%h4
				= @speech.errors.count
				= "errors in fields:"
			- @speech.errors.full_messages.each do |msg|
				%li= msg

= form_for @speech do |f|
	.text
		= f.label :title, t(:speech_title) + mark_required(@speech, :title)
		%p= f.text_field :title, :placeholder => t(:title_placeholder)
		
		%p= f.label :organization, t(:organization_name) + mark_required(@speech, :organization)
		%p= f.text_field :organization, :placeholder => t(:organization_placeholder)
		
		%p= f.label :author_name, t(:full_name) + mark_required(@speech, :author_name)
		%p= f.text_field :author_name, :placeholder => t(:author_name_placeholder)
		
		%p= f.label :phone, t(:phone_number)
		%p= f.text_field :phone
	%fieldset
		= f.label :thesis, t(:attach_file)
		= f.file_field :thesis
	.nested_rpd_form
		%fieldset
			%legend 
				%b= t(:choose_thematic_section)
			%table
				-@themes.each do |t|
					%tr
						%td{:class => "label"}= f.label :theme_id, t.title
						%td= f.radio_button :theme_id, t.id
	- if current_user.admin?
		.text
			%p= f.label :email, "Контактный e-mail"
			%p= f.text_field :email
	-#.check_box
		= f.label :delivery_subscription, current_user.admin? ? "Подписка на рассылку новостей" : "Хотите ли вы подписаться на рассылку новостей?"
		= f.check_box :delivery_subscription
	.submit	
		= f.submit current_user.admin? ? "Подтвердить" : "Отправить"#((I18n.locale == :ru) ? "Отправить" : "Send")