%h1 Докладики
= link_to "Создать доклад", new_speech_path
%table
	%tr
		%th Название доклада
		%th Название организации
		%th Автор
		%th	
		%th	
		%th	
	- @speeches.each do |speech|
		%tr
			%td= speech.title 
			%td= speech.organization
			%td= speech.author_name
			%td= link_to "Показать сей доклад ближе", speech_path(speech)
			%td= link_to "Отредактировать сей доклад", speech_path(speech)
			%td= link_to "Удалить доклад", speech, :confirm => 'Вы уверены?', :method => :delete
