-if current_user.admin?
	%table
		%tr
			%td=link_to "Создать доклад", new_speech_path
			%td= "|"
			%td=link_to "Доклады по темам", thematic_index_speeches_path
			%td= "|"
			%td=link_to "Тексты не отправили", email_notification_speeches_path
	.styled
		%table
			%tr
				%th Название доклада
				%th Организация
				%th Авторы
				%th	
				%th	
				%th	
			- @speeches.each do |speech|
				%tr
					%td= speech.title 
					%td= speech.organization
					%td= speech.author_name
					%td= link_to "Показать", speech_path(speech)
					%td= link_to "Редактировать", edit_speech_path(speech)
					%td= link_to "Удалить", speech, :confirm => 'Вы уверены?', :method => :delete
-else
	= link_to "Добавить заявку", new_speech_path
	.styled
		%table
			%tr
				%th Название доклада
				%th Текст доклада
				%th	
				%th	
			- @speeches.each do |speech|
				%tr
					%td= link_to truncate(speech.title, :length => 40), speech_path(speech)
					- if speech.thesis_url
						%td.green= "Есть"
					- else
						%td.red= "Нет"
					%td= link_to "Редактировать", edit_speech_path(speech)
					%td= link_to "Удалить", speech, :confirm => 'Вы уверены?', :method => :delete	