%table
	%tr
		%td
			%B Название доклада
		%td= @speech.title
	%tr
		%td
			%B Организация
		%td= @speech.organization
	%tr
		%td
			%B ФИО авторов
		%td= @speech.author_name	
	%tr
		%td
			%B Контактный телефон
		%td= @speech.phone
	%tr
		%td
			%B Контактный e-mail
		%td= @speech.user.nil? ? "-" : @speech.user.email
	%tr
		%td
			%B Подписка на рассылку новостей
		%td= @speech.delivery_subscription ? 'Да' : 'Нет'
%p= link_to "Редактировать", edit_speech_path
%p
- if current_user.admin?
	= link_to "<< Назад, к списку докладов", speeches_path
