%table
	%tr
		%td
			%B Название доклада
		%td= @speech.title
	%tr
		%td
			%B Организация
		%td= @speech.organization
	%tr
		%td
			%B Автор
		%td= @speech.author_name	
	%tr
		%td
			%B Контактный телефон
		%td= @speech.phone	
	%tr
		%td
			%B Контактный e-mail
		%td= @speech.email
	%tr
		%td
			%B Подписан ли на рассылку новостей
		%td= @speech.delivery_subscription ? 'Да' : 'Нет'
%p= link_to "Редактировать", edit_speech_path
%p= link_to "<< Назад, к списку докладов", speeches_path
