-if current_user.admin?
  %table
    %tr
      %td=link_to "Создать доклад", new_speech_path
      %td= "|"
      %td=link_to "К таблице докладов", speeches_path
      %td= "|"
      %td=link_to "Тексты не отправили", email_notification_speeches_path
  Секции:
  %ol
    %h3
      %li Пленарные
    - @themes.each do |theme|
      %h3
        %li= theme.title
      %ol{:style => "list-style-type: lower-alpha;"}
        - theme.speeches.each do |speech|
          %li
            %b= speech.title
            %p= speech.author_name
            %p= speech.organization
            - if speech.email.nil? 
              %p= speech.user.nil? ? "-" : speech.user.email
            - else
              %p= speech.email

            - if speech.thesis_url
              %p
                %i= File.basename(speech.thesis_url)
  -#.styled
    %table
      %tr
        %th Название доклада
        %th Организация
        %th Авторы
        %th 
        %th 
        %th 
      - @speeches.each do |speech|
        %tr
          %td= speech.title 
          %td= speech.organization
          %td= speech.author_name
          %td= link_to "Показать", speech_path(speech)
          %td= link_to "Редактировать", edit_speech_path(speech)
          %td= link_to "Удалить", speech, :confirm => 'Вы уверены?', :method => :delete