= form_for @post do |f|
	= f.label :title, "Заголовок"
	%p
		= f.text_field :title
	%p
		= f.label :body, "Тело новости"
	%p	
		= f.text_area :body
	%p 
		* Верстка новости осуществляется с помощью языка разметки Textile. Ознакомиться с языком и протестировать внешний вид новости можно на сайте
		= link_to "RedCloth", "http://redcloth.org"
	= f.submit "Опубликовать"