= link_to "Создать новость", new_post_path
%table
	%tr
		%th Заголовок
		%th Дата публикации
		%th
		%th
		%th
	- @posts.each do |post|
		%tr
			%td= post.title
			%td= post.created_at.strftime("%d-%m-%Y")
			%td= link_to "Показать", post_path(post)
			%td= link_to "Редактировать", edit_post_path(post)
			%td= link_to "Удалить", post, :confirm => 'Вы уверены?', :method => :delete