.news_box
	.image
	.news
		%h3.blue
			Новости
			%hr
		- @posts.each do |post|
			%p.date
				= post.created_at.strftime("%d-%m-%Y")
				= link_to post.title, post_path(post)

%p
	%b IX Международный Симпозиум по радиационной плазмодинамике «РПД-2012»
	и научная школа молодых ученых «Актуальные задачи физической механики газов и плазмы: фундаментальные и прикладные проблемы» будут проведены в
	%b ноябре 2012 года
	в одном из пансионатов Подмосковья.

%p Симпозиум будет посвящен актуальным проблемам радиационной плазмодинамики и ее применениям в энергетике, машиностроении, экологии, медицине и др.

%p Международный Симпозиум по радиационной плазмодинамике проводится регулярно (один раз в три года), начиная с 1989 года.

%p 
	На конференции будут представлены приглашенные доклады ведущих ученых, работающих в области радиационной плазмодинамики, физики низкотемпературной плазмы, а также устные и стендовые доклады, отобранные 
	= link_to "Оргкомитетом", org_committee_path
	из числа присланных тезисов.

%p Одновременно с Симпозиумом будет проведена школа молодых ученых и специалистов.

%p
	%b Рабочий язык
	конференции и школы – русский. Тезисы принимаются на русском и английском языках. 

%p 
	Для участия в конференции необходимо
	= link_to "зарегистрироваться на сайте", signup_path
	, далее заполнить
	= link_to "электронную заявку участника", speech_path_helper
	и
	= link_to "отправить тезисы", "#" 
	(тезисы будут приниматься только в электронном виде).

%p Сборник тезисов будет выпущен к началу Симпозиума и будет выдаваться участникам, оплатившим оргвзнос.