%header
	.top_panel
		- if signed_in?
			= current_user.email
			|
			= link_to "Заботы разработчика", tasks_path
			|
			- if current_user.admin?
				= link_to t(:news_management_page), posts_path
				|
				= link_to t(:speeches_management_page), speeches_path
				|
				= link_to "Настройка прав доступа", users_path
				|
			- else
				- if current_user.speech == nil
					= link_to "Заявка на участие", registration_path
					|
				- else
					= link_to "Заявка", speech_path(current_user.speech)
					|
					= link_to "Тезисы", "#"
					|
					= link_to "Оплата", "#"
					|
			= link_to "Выйти", signout_path, :method => :delete
			|
		- else
			= form_for(:session, :url => sessions_path) do |f|
				= f.label :email
				= f.text_field :email
				= f.label :password
				= f.password_field :password
				= f.submit "Войти"
				|
				= link_to "Зарегистрироваться", signup_path