%header
	.top_panel
		- if signed_in?
			.top_menu
				= current_user.email
				|
				- if current_user.admin?
					= link_to t(:news_management_page)+" (#{Post.all.count})", posts_path
					|
					= link_to t(:speeches_management_page)+" (#{Speech.all.count}/#{theses_counter})", speeches_path
					|
					= link_to "Настройка прав доступа (#{User.all.count})", users_path
					|
					= link_to "Тематические разделы", themes_path
					|
				- else
					= link_to t(:application_forms)+" (#{current_user.speeches.count})", speeches_path_helper
					|
					- unless current_user.speeches == []
						= link_to t(:payment), payment_path
						|
				= link_to t(:signout), signout_path, :method => :delete
		- else
			.form
				= form_for(:session, :url => sessions_path) do |f|
					= f.label :email, t(:email)
					= f.text_field :email
					= f.label :password, t(:password)#"Пароль"
					= f.password_field :password
					= f.submit t(:signin)
					-#|
					-#= link_to t(:signup), signup_path
	.email
		%b 
			= t(:our_email) 
			= mail_to "rydkin.rpd2012@yandex.ru"