.nav
	%ul
		%b
			%hr.menu_line
			%li= link_to t(:main_page), home_path
			%hr.menu_line
			%li= link_to t(:about_page), about_path
			%hr.menu_line
			%li= link_to t(:org_commitee_page), org_committee_path
			%hr.menu_line
			%li= link_to t(:contacts_page), contacts_path
			%hr.menu_line
			%li= link_to t(:dates_page), dates_path
			%hr.menu_line
			%li= t(:to_participants)
			
			- unless signed_in?
				%li.indention= link_to t(:signup_page), signup_path
				
			%li.indention= link_to t(:thesis_rules_page), thesis_rules_path
			
			%li.indention= link_to t(:payment_page), payment_path	
			%hr.menu_line