.nav
	%ul
		%b
			%hr.menu_line
			%li= link_to t(:main_page), home_path
			%hr.menu_line
			%li= link_to t(:about_page), about_path
			%hr.menu_line
			%li= link_to t(:org_commitee_page), org_committee_path
			%hr.menu_line
			%li= link_to t(:contacts_page), contacts_path
			%hr.menu_line
			%li= link_to "ВАЖНЫЕ ДАТЫ", dates_path
			%hr.menu_line
			%li Участникам:
			
			- if signed_in?
			- else
				%li.indention= link_to t(:signup_page), signup_path
				
			%li.indention= link_to t(:thesis_rules_page), thesis_rules_path
			
			%li.indention= link_to "ОПЛАТА УЧАСТИЯ", payment_path	
		- if Rails.env.development?
			%hr.menu_line
			%li
				%B= link_to "Заботы разработчика", tasks_path
			%hr.menu_line