.nav
	%ul
		%b
			%li= link_to t(:main_page), home_path
			%hr.menu_line
			%li= link_to t(:about_page), about_path
			%hr.menu_line
			%li= link_to t(:org_commitee_page), org_committee_path
			%hr.menu_line
			%li= link_to t(:thesis_rules_page), thesis_rules_path
			%hr.menu_line
			%li= link_to t(:contacts_page), contacts_path
			%hr.menu_line
			%li= link_to t(:registration_page), registration_path
			%hr.menu_line			
			%li= link_to t(:signin_page), '#'
			%hr.menu_line
		- if Rails.env.development?
			%li
				%B= link_to "Заботы разработчика", tasks_path
			%hr.menu_line
			%li
				%B= link_to t(:news_management_page), posts_path
			%hr.menu_line
			%li
				%B= link_to t(:speeches_management_page), speeches_path
			%hr.menu_line