.status_panel
	%b Подача заявки
	до 31.08.2012
	- if signed_in?
		- if current_user.speech == nil
			(
			= link_to 'Не отправлена', registration_path, {:class => "red"}
			)
		- else
			(
			= link_to 'Отправлена', speech_path(current_user.speech), {:class => "green"}
			)
	|	
	%b Прием тезизов 
	до 1.06.2012
	- if signed_in?
		- if current_user.speech == nil
			(
			= link_to 'Не отправлены', registration_path, {:class => "red"}
			)
		- else
			(
			= link_to 'Отправлены', speech_path(current_user.speech), {:class => "green"}
			)
-#
	|
	%b Оплата
	до 31.12.2012
	= signed_in? ? "(Готово)" : ""
