!!!
%html
	%head
		%title= title
		= stylesheet_link_tag "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		= render 'layouts/header'
		= render 'layouts/status_panel'
		%left_bar
			= render 'layouts/nav'

		.content
			%h2.title= @title

			.main
				- if flash[:notice]
					%p.notice
						%b= flash[:notice]
				- if flash[:success]
					%p.notice
						%b= flash[:success]
				= yield
		%footer
			Контакты maks.rydkin@gmail.com
			|
			= language_selector
			| Designed by I-de-ya.